# allowed origins for CORS
ALLOWED_ORIGINS="http://localhost:5173,http://127.0.0.1:5173,http://localhost:4173,http://localhost:3000,http://localhost:80"

# A2A protocol binding. Possible values: JSONRPC, HTTP+JSON. Only JSONRPC is supported by ICA Agentic apps studio workflows.
A2A_PROTOCOL=JSONRPC

# The base url for the ICA API
ICA_ENDPOINT="https://servicesessentials.ibm.com/agenticapps/api/v1"

# The authentication token. Can be retrieved in the ICA agentic apps studio settings.
ICA_TOKEN="<your-jwt-or-api-token>"

# Required ICA entity IDs
ICA_TEAM_ID="699331731e26f97e0123a85d"
ICA_APP_ID="f16c63ed-21c5-4e21-9b4f-fa0053e461d4"
ICA_USER_ID="699337b91b25031459b755b6"

# Toggles for automatic agent registration and observability
ICA_REGISTER_AGENT=false
ICA_OBSERVABILITY=false
AGENTSTUDIO_HOOKS=hooks_example

# Phoenix endpoint for observability can be retrieved in the ICA agentic apps studio settings.
# PHOENIX_COLLECTOR_ENDPOINT="https://pheonix-ica-agenticapps.ica-np-us-south-dev-83f075ec965da16d61cd1225fb6731fe-0000.us-south.containers.appdomain.cloud/v1/traces"

# Authorization with Keycloak. No authorization if these variabels are not set or commented out
# KEYCLOAK_ISSUER_URL="https://<keycloak-host>/realms/<realm>"
# KEYCLOAK_JWKS_URL="https://<keycloak-host>/realms/<realm>/protocol/openid-connect/certs"  # optional override
# KEYCLOAK_USERINFO_URL="https://<keycloak-host>/realms/<realm>/protocol/openid-connect/userinfo"  # optional fallback validation endpoint
